/* Переменные */
:root {
  /* Типографика */
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 34px;
  --text-3xl: 44px;
  --text-4xl: 54px;

  --font-medium: 500;

  /* Цвета */
  --color-primary: #734cf5;
  --color-secondary: #75859d;
  --color-text-dark: #134178;
  --color-white: #fff;
  --color-background: #f6f6f6;
  --color-background-dark: #0b284b;

  /* Отступы */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-base: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 44px;
  --spacing-4xl: 60px;

  /* Закругления */
  --border-radius-lg: 8px;
  --border-radius-lg: 24px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-text-dark);
  font-size: var(--text-base);
  background-color: var(--color-white);
  line-height: 24px;
}

button {
  font-family: inherit;
  font-size: var(--text-sm);
  font-weight: 500;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-primary);
  padding: var(--spacing-base);
  border-radius: 25px;
}

.button--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}

.button--secondary {
  border-color: var(--color-primary);
}

/* Header */
.header {
  margin: var(--spacing-base);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
  padding: var(--spacing-base) var(--spacing-xl);
  border-radius: 50px;
}

.header-logo {
  flex-basis: 25%;
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
}

.header-nav {
  flex-basis: 50%;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
}

.header-actions {
  flex-basis: 25%;
}

.telegram-button {
  margin-left: auto;
}

.menu-button {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 890px) {
  .header-nav,
  .telegram-button {
    display: none;
  }
  .menu-button {
    display: flex;
    padding: var(--spacing-sm);
  }

  .header-logo,
  .header-actions {
    flex-basis: initial;
  }
}

/* Mobile menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-base);
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  text-align: center;
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  padding: var(--spacing-3xl) 0;
  margin: 0;
}

.mobile-menu .close-button {
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

/* Footer */
.footer {
  background-color: var(--color-background-dark);
  color: var(--color-white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-base);
}

.footer-content ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
  margin: 0;
}

@media (max-width: 670px) {
  .footer-content {
    padding: var(--spacing-lg) var(--spacing-base);
  }
}
